# Imports

In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [3]:
data = pd.read_csv('cleaned_dataset.csv')
data.head()

C:\Users\fathi\AppData\Local\Temp\ipykernel_9032\3513733778.py:1: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('cleaned_dataset.csv')

,App Name,App Id,Category,Rating,Rating Count,Installs,Minimum Installs,Free,Price,Currency,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 55,Unnamed: 56
0,Logistics Management,com.eniseistudio.logistics_management,Education,4.090909,66.0,10000.0,10000.0,True,0.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Estados Unidos Noticias,com.eniseistudio.news.estados_unidos,News & Magazines,4.000000,8.0,1000.0,1000.0,True,0.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Dental Assistant,com.eniseistudio.dental_assistant,Education,3.866667,15.0,10000.0,10000.0,True,0.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Medical Assistant,com.eniseistudio.course.medical_assistant,Education,4.000000,18.0,5000.0,5000.0,True,0.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Business Administration,com.eniseistudio.majors.course.business_admini...,Education,4.023256,86.0,50000.0,50000.0,True,0.0,USD,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.describe().round(3)

,Rating,Rating Count,Installs,Minimum Installs,Price,Size,Reviews,Developer Internal ID,Unnamed: 29,Unnamed: 30,...,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 55,Unnamed: 56
count,254002.000,2.540020e+05,2.540020e+05,2.540020e+05,254002.000,2.540020e+05,2.539260e+05,2.540020e+05,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,3.167,1.203590e+04,5.986356e+05,5.986356e+05,0.033,2.149655e+07,4.414805e+03,6.940837e+18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.800,2.327706e+05,8.224568e+06,8.224568e+06,1.592,2.624452e+07,8.958440e+04,1.344958e+18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.000,0.000000e+00,0.000000e+00,0.000000e+00,0.000,1.000000e+03,0.000000e+00,4.612200e+18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,2.754,5.000000e+00,1.000000e+03,1.000000e+03,0.000,5.600000e+06,2.000000e+00,5.782110e+18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,4.012,5.200000e+01,1.000000e+04,1.000000e+04,0.000,1.100000e+07,2.200000e+01,6.951890e+18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4.408,6.040000e+02,1.000000e+05,1.000000e+05,0.000,2.800000e+07,2.390000e+02,8.117170e+18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,5.000,3.652267e+07,1.000000e+09,1.000000e+09,399.990,9.710000e+08,1.616305e+07,9.223350e+18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Feature Selection and Encoding

In [9]:
features = data[['Rating', 'Rating Count', 'Installs', 'Size', 'Free', 'Category']]

features = features.dropna()

features['High_Rated'] = (features['Rating'] >= 4.0).astype(int)

features = features.drop('Rating', axis=1)

features = pd.get_dummies(features, columns=['Category'])

X = features.drop('High_Rated', axis=1)
y = features['High_Rated']


scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

In [15]:
tmp = pd.DataFrame(X_scaled)
tmp.describe()

,0,1,2,3,4,5,6,7,8,9,...,42,43,44,45,46,47,48,49,50,51
count,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,...,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05,2.540020e+05
mean,-4.553627e-18,-9.701699e-18,9.497140e-18,-5.230735e-16,2.013771e-17,-3.180982e-17,-2.150494e-18,-6.485050e-17,1.643467e-18,6.663034e-18,...,-4.605903e-17,-5.629748e-19,-2.230569e-17,-1.172806e-17,6.702547e-17,2.405756e-17,-4.223710e-17,-7.832693e-18,-3.447084e-17,-3.331342e-17
std,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,...,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00,1.000002e+00
min,-5.170723e-02,-7.278641e-02,-8.190508e-01,-1.164619e+01,-1.421087e-01,-1.201736e-01,-1.601275e-01,-1.015770e-01,-6.516339e-02,-6.604109e-02,...,-1.696752e-01,-1.074854e-01,-1.507080e-01,-7.994328e-02,-2.626366e-01,-1.320010e-01,-8.699773e-02,-9.854664e-02,-7.916648e-02,-9.646868e-02
25%,-5.168575e-02,-7.266483e-02,-6.057105e-01,8.586501e-02,-1.421087e-01,-1.201736e-01,-1.601275e-01,-1.015770e-01,-6.516339e-02,-6.604109e-02,...,-1.696752e-01,-1.074854e-01,-1.507080e-01,-7.994328e-02,-2.626366e-01,-1.320010e-01,-8.699773e-02,-9.854664e-02,-7.916648e-02,-9.646868e-02
50%,-5.148384e-02,-7.157054e-02,-3.999529e-01,8.586501e-02,-1.421087e-01,-1.201736e-01,-1.601275e-01,-1.015770e-01,-6.516339e-02,-6.604109e-02,...,-1.696752e-01,-1.074854e-01,-1.507080e-01,-7.994328e-02,-2.626366e-01,-1.320010e-01,-8.699773e-02,-9.854664e-02,-7.916648e-02,-9.646868e-02
75%,-4.911240e-02,-6.062770e-02,2.478028e-01,8.586501e-02,-1.421087e-01,-1.201736e-01,-1.601275e-01,-1.015770e-01,-6.516339e-02,-6.604109e-02,...,-1.696752e-01,-1.074854e-01,-1.507080e-01,-7.994328e-02,-2.626366e-01,-1.320010e-01,-8.699773e-02,-9.854664e-02,-7.916648e-02,-9.646868e-02
max,1.568527e+02,1.215144e+02,3.617919e+01,8.586501e-02,7.036867e+00,8.321293e+00,6.245023e+00,9.844747e+00,1.534604e+01,1.514209e+01,...,5.893612e+00,9.303586e+00,6.635347e+00,1.250887e+01,3.807542e+00,7.575702e+00,1.149455e+01,1.014748e+01,1.263161e+01,1.036606e+01

# Model Training and Evaluation

## Naive Bayes

In [16]:
# Train a Naive Bayes classifier
nb = GaussianNB()
nb.fit(X_train, y_train)

# Make predictions
y_pred_nb = nb.predict(X_test)

# Evaluate the model
print("Naive Bayes Classifier")
print("Accuracy:", accuracy_score(y_test, y_pred_nb))
print(classification_report(y_test, y_pred_nb))
print(confusion_matrix(y_test, y_pred_nb))

Naive Bayes Classifier
Accuracy: 0.565126670734828
              precision    recall  f1-score   support

           0       0.54      0.64      0.59     24595
           1       0.59      0.49      0.54     26206

    accuracy                           0.57     50801
   macro avg       0.57      0.57      0.56     50801
weighted avg       0.57      0.57      0.56     50801

[[15762  8833]
 [13259 12947]]

## Random Forest

In [17]:
# Train a Random Forest classifier
rf = RandomForestClassifier(n_estimators=100, random_state=42)
rf.fit(X_train, y_train)

# Make predictions
y_pred_rf = rf.predict(X_test)

# Evaluate the model
print("Random Forest Classifier")
print("Accuracy:", accuracy_score(y_test, y_pred_rf))
print(classification_report(y_test, y_pred_rf))
print(confusion_matrix(y_test, y_pred_rf))

Random Forest Classifier
Accuracy: 0.7499852365110923
              precision    recall  f1-score   support

           0       0.76      0.71      0.73     24595
           1       0.74      0.79      0.77     26206

    accuracy                           0.75     50801
   macro avg       0.75      0.75      0.75     50801
weighted avg       0.75      0.75      0.75     50801

[[17414  7181]
 [ 5520 20686]]

## SVM

In [ ]:
# Train a Support Vector Machine classifier
svm = SVC(kernel='linear', random_state=42)
svm.fit(X_train, y_train)

# Make predictions
y_pred_svm = svm.predict(X_test)

# Evaluate the model
print("Support Vector Machine Classifier")
print("Accuracy:", accuracy_score(y_test, y_pred_svm))
print(classification_report(y_test, y_pred_svm))
print(confusion_matrix(y_test, y_pred_svm))